<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-List</title>
</head>
<body>
    {%block body%}
        
    <h1>To-do-List</h1>
    <table>
        {%for task in tasks %}
        <tr>

            <td>
                <input type="checkbox" name="complete" {% if task.complete %} checked {% endif %} onchange="window.location.href= '/check/{{task.id}}'">
            </td>
            <td>
                <span {% if task.complete %} style="text-decoration: line-through;"{% endif %}>
                    {{task.content}}
                </span>
            </td>

            <td>
                <a href="check/{{task.id}}">Check</a>
                <a href="edit/{{task.id}}">Edit</a>
                <a href="delete/{{task.id}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>

        <form action="/add" method="post">
        <input type="text" name="content" id="content">
        <button type="submit">Add Task</button>
        </form>

    {% endblock %}
</body>
</html>